/* Encabezado */
.header {
  background-color: #4caf50;
  color: white;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
  color: white !important;
}

.nav-link.active {
  font-weight: bold;
  text-decoration: underline;
}

/* Botones y textos */
.btn-primary {
  background-color: #e91e63;
  border: none;
}

.btn-primary:hover {
  background-color: #d81b60;
}

/* Tarjetas */
.card {
  border-radius: 10px;
}

.card-title {
  font-weight: bold;
  color: #333;
}

.card-text {
  color: #666;
}

/* Footer */
.footer {
  background-color: #333;
  color: white;
}

.footer p {
  margin: 0;
}

/* Responsividad */
@media (max-width: 768px) {
  .card-title {
    font-size: 18px;
  }

  .card-text {
    font-size: 14px;
  }
}
